extends ./template.jade

block title
  title FireFront Boilerplate by Wendell Adriel

block header
  .content
    h1
      span.title DF.js
      br
      span.description Em breve a comunidade JS do DF vai avançar para um próximo nível

block footer
    span.author Desenvolvido com ❤ por
      a(href = 'http://br.linkedin.com/in/wendelladrielti/en', target = '_blank') Wendell Adriel
