doctype html
html(lang = 'en')
  head
    meta(charset = 'UTF-8')
    link(rel = 'shortcut icon', type = 'image/png', href = './assets/img/favicon-16x16.png')
    link(rel = 'stylesheet', href = './assets/css/main.css')
    title DF.js - Comunidade JS do DF
  body
    header#sec-header.header
      .content
        img(src="./assets/img/logo-dfjs-branco.png")
      div(onclick="$('#sec-about').animatescroll({ scrollSpeed:2000, easing:'easeInOutBack' });").btn-more Conheça mais sobre o DF.js
    section#sec-about.about
      .title Comunidade JS do DF
      .content
        .card-about
          .card-title Meetups
          .card-content
            p O DF.js irá sempre promover Meetups para manter a comunidade sempre unida e para que os membros possam compartilhar conhecimento, experiências e bater um papo legal uns com os outros.
            p Além disso, todo Meetup terá palestras e workshops dados por pessoas da própria comunidade e também pessoas de fora, para que todos possam aumentar seus conhecimentos. Os Meetups também serão um ótimo local para se fazer amizades e melhorar o seu networking.
        .card-about
          .card-title Palestras
          .card-content
            p Todas as palestras serão preparadas com antecedência e contarão com slides que serão disponibilizados para todos através do Github. Caso seja apresentado algum código, o mesmo também ficará disponível para que todos possam acessar posteriormente.
            p Qualquer um que quiser poderá dar uma palestra, basta entrar em contato com um dos admins para que seja tudo organizado e combinado.
        .card-about
          .card-title Workshops
          .card-content
            p Os workshops abordarão assuntos de todos os níveis para que todos na comunidade possam aproveitar o conteúdo e também será disponibilizado ementa do workshop, códigos e slides no Github para acesso futuro.
            p Além disso, todos que participarem dos workshops ganharão um certificado de participação através da #[a(href="http://codeshare.com.br", target="_blank") Codeshare].
      .subtitle Venha você também fazer parte!!!
      .more-events
        span(onclick="$('#sec-events').animatescroll({ scrollSpeed:2000, easing:'easeInOutBack' });").btn-events Próximos Eventos
    section#sec-events.events
      .title Confira nossos próximos eventos
      .content
        .card-event
          .event-type Meetup
          .event-title 1º Meetup DF.js
          .event-date 07/05/2016
          .event-place A partir das 10:15hs - Auditório Benedito Coutinho do IESB Campus Asa Norte (SGAN Quadra 609 - Módulo D - L2 Norte)
        .card-event
          .event-type Palestra
          .event-title Desenvolvimento Mobile com JavaScript - #[a(href="https://facebook.com/matthewoliveira.me", target="_blank") Matheus Oliveira]
          .event-date 07/05/2016
          .event-place A partir das 10:35hs - Auditório Benedito Coutinho do IESB Campus Asa Norte (SGAN Quadra 609 - Módulo D - L2 Norte)
        .card-event
          .event-type Palestra
          .event-title O Poder do JavaScript Hoje, sim ele é multi-plataforma - #[a(href="http://pompeu.github.io", target="_blank") Itacir Pompeu]
          .event-date 07/05/2016
          .event-place A partir das 11:00hs - Auditório Benedito Coutinho do IESB Campus Asa Norte (SGAN Quadra 609 - Módulo D - L2 Norte)
      .subtitle Estamos te esperando em nossos eventos!!! Faça parte também de nosso #[a(href="https://facebook.com/groups/javascriptdf", target="_blank") Grupo no Facebook] e no #[a(href="https://telegram.me/joinchat/CUxp7QbxhI-crQFszrh0rA", target="_blank") Telegram] e também fique de olho em nosso #[a(href="https://github.com/DF-js", target="_blank") Github]
      .more-admins
        span(onclick="$('#sec-admins').animatescroll({ scrollSpeed:2000, easing:'easeInOutBack' });").btn-admins Conheça os Top Colaboradores
    section#sec-admins.admins
      .title Top Colaboradores
      .content
        .card-admin
          .card-img
            a(href="http://wendelladriel.github.io", target="_blank")
              img(src='./assets/img/wendell.jpg')
          .card-title Wendell Adriel
          .card-description
            p Full Stack Developer
            p Fundador do DF.js e Criador da #[a(href="http://codeshare.com.br", target="_blank") Codeshare]
        .card-admin
          .card-img
            a(href="http://pompeu.github.io", target="_blank")
              img(src='./assets/img/pompeu.jpg')
          .card-title Itacir Pompeu
          .card-description
            p Back-End Developer
            p Fundador do DF.js
        .card-admin
          .card-img
            a(href="https://facebook.com/matthewoliveira.me", target="_blank")
              img(src='./assets/img/matheus.jpg')
          .card-title Matheus Oliveira
          .card-description
            p Full Stack Developer
            p Fundador do DF.js
    div(onclick="$('#sec-header').animatescroll({ scrollSpeed:2000, easing:'easeInOutBack' });").fixed-btn ^
    footer.footer
      .content
        .developed Desenvolvido com ❤ por #[a(href="http://wendelladriel.github.io", target="_blank") Wendell Adriel]
    script(src = './assets/js/main.js')
