.footer
  background #000
  height auto
  display block
  padding-top rem(20px)
  .content
    center(90%)
  .developed
    color feat
    font-size rem(20px)
    text-align center
    margin auto
    +tablet()
      font-size rem(25px)
    +desktop()
      font-size rem(30px)
