// COLORS
primary = #f7df1e
secondary = #222
hover = darken(primary, 40%)
feat = #fff
texts = #222

// FONTS
@font-face
  font-family Prototype
  font-style normal
  src url(../fonts/Prototype.ttf)

// RESOLUTIONS
cut_size = 30rem

// REM BASE
ks-rem-base = 20px
